@import url("./reset.css");

body {
  background-color: #ededed;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.movies {
  display: flex;
  width: 80%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
}

.movie_container {
  display: flex;
  width: 600px;
  height: 300px;
  margin: 30px 20px;
  position: relative;
  background-color: white;
  box-shadow: 5px 10px 20px 2px #c4c4c4;
  border-radius: 5px;
}

.blank__box {
  position: relative;
}

img {
  position: absolute;
  top: -15px;
  left: -10px;
  width: 200px;
  height: 300px;
  border-radius: 5px;
}

.movie_info {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  position: absolute;
  left: 200px;
}

.title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 800;
}

.genre {
  font-size: 20px;
  margin: 20px 0px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.summary {
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}
